/* 
* General styles
*/

.wrapper {
    margin: 0 auto;
    max-width: 990px;
}

.containers-style {
    background-color: red;
    width: 100px;
    height: 100px;
    /*See the event*/
    transition: all 2s;
}

.row{
	width: 100%;
	margin: 10px 0;
}

/*
* Simple transform
*/

.animation-rotateX:hover{
    transform: rotateX(360deg);
}

.animation-rotateY:hover{
    transform: rotateY(360deg);
}

.animation-rotateZ:hover{
    transform: rotateZ(360deg);
}