// @import 'partials/reset';
// @import 'partials/vars';

* {
	margin: 0px;
	padding: 0px;
}

// colors
$gray: #ccc;

header {
	.header--column {
		display: inline-block;
	}
	.header--column {
		&-right,
		&-left {
			width: 20%;
		}
		&-center {
			width: 50%
		}
		&-left {
			ul {
				list-style-type: none;
				li {
					display: inline;
					a {
						color: $gray;
						text-decoration: none;
					}
				}
			}
		}
	}
}